@charset "utf-8";
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}


/*DESKTOP VERSION*/

.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header header header header header" "contact contact contact map map map" "footleft footleft footcenter footcenter footright footright";
}


/*Scroll bar*/

 ::-webkit-scrollbar {
    width: 0.50%;
}

 ::-webkit-scrollbar-track {
    background: rgba(252, 249, 80, 0.582);
}

 ::-webkit-scrollbar-thumb {
    height: 50%;
    background: linear-gradient(rgba(252, 249, 80, 0.74) 0%, rgba(106, 255, 106, 0.74) 20%, rgba(104, 104, 255, 0.795) 40%, rgba(255, 99, 255, 0.74) 60%, rgba(255, 74, 74, 0.74) 80%, rgba(252, 249, 80, 0.74) 100%);
}


/*Forside*/

header {
    position: relative;
}

.item1 {
    grid-area: header;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
}


/*Navigation*/

div nav {
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

.navbar {
    text-align: right;
}

.menu a {
    text-decoration: none;
    color: white;
    margin-right: 4%;
    line-height: 5;
}

nav a:hover {
    font-weight: 300;
    cursor: pointer;
}

label {
    display: none;
}

#toggle {
    display: none;
}

.logo {
    margin: 0.4%;
    width: 9%;
    vertical-align: middle;
    float: left;
}

.forsidemobil {
    display: none;
}

.imgLogoTextMobil {
    display: none;
}


/*overskift*/

.item1 h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 10vh;
    margin: 0;
    padding: 3% 0 3% 5%;
    -webkit-text-stroke: 1.5px black;
    text-shadow: 0 0 50px rgb(255, 238, 0);
    animation: cycle 10s linear infinite;
}

@keyframes cycle {
    /*https://www.youtube.com/watch?v=pMS99DLuFDY*/
    0% {
        text-shadow: 0 0 50px rgb(255, 196, 0);
    }
    20% {
        text-shadow: 0 0 50px rgb(0, 255, 13);
    }
    40% {
        text-shadow: 0 0 50px rgb(0, 17, 255);
    }
    60% {
        text-shadow: 0 0 50px rgb(234, 0, 255);
    }
    80% {
        text-shadow: 0 0 50px rgb(255, 0, 0);
    }
}


/*kontaktformular*/

.item2 {
    grid-area: contact;
    height: 100%;
    padding: 1.5%;
    margin: 0 2.5% 0 10%;
    border: solid 0.2vw;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 4.5vh;
    margin: 0;
}

.label,
textarea,
.email,
.subject {
    display: block;
    width: 100%;
}

input {
    border: solid black;
}

textarea {
    border: solid black;
    height: 50%;
}

button {
    color: black;
    border: solid black;
    background-color: white;
    text-align: left;
    margin: 2% 0;
    padding: 1% 2%;
}

button:hover {
    color: white;
    border: solid black;
    background-color: black;
    text-align: left;
    margin: 2% 0;
    padding: 1% 2%;
    cursor: pointer;
    transition: 0.3s;
}

.status {
    color: red;
}


/*google maps*/

.item3 {
    grid-area: map;
    height: 100%;
    padding: 1.5%;
    margin: 0 10% 0 2.5%;
    border: solid 0.2vw;
}

.iframe-googlemap {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.iframe-googlemap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*Footer*/

.item4 {
    grid-area: footleft;
    background-color: #646463;
    text-align: left;
    color: white;
    padding: 2% 0 2% 14%;
    margin-top: 10%;
}

.item5 {
    grid-area: footcenter;
    background-color: #646463;
    text-align: center;
    color: white;
    padding-top: 2%;
    margin-top: 10%;
}

p {
    margin: 0;
}

.fbanmeldelser {
    width: 3%;
}

.item6 {
    grid-area: footright;
    background-color: #646463;
    text-align: right;
    color: white;
    padding: 2% 14% 2% 0;
    margin-top: 10%;
}

.icons {
    display: inline;
    width: 10%;
}


/*TABLET*/

@media (max-width: 1024px) and (min-width: 414px) {
    .gridcontainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "header header header" "contact contact contact" "map map map" "footleft footcenter footright";
    }
    .logo {
        margin: 0.8%;
        width: 22%;
    }
    .item1 h1 {
        font-size: 5vh;
    }
    h3 {
        font-size: 2.2vh;
    }
    h2 {
        font-size: 4vh;
        margin-top: 2vh;
    }
    .item2 {
        margin: 5%;
    }
    .item3 {
        margin: 10% 5%;
        height: 76%;
    }
    .item4 {
        font-size: 1.3vh;
    }
    .item5 {
        font-size: 1.3vh;
    }
    .item6 {
        font-size: 1.3vh;
    }
    .fbanmeldelser {
        width: 5%;
    }
    .icons {
        width: 13%;
    }
}


/*MOBILE*/

@media (max-width: 414px) {
    .gridcontainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "header" "contact" "map" "footleft" "footcenter" "footright";
    }
    label {
        margin: 0.2% 4% 0 88.2%;
        font-size: 4vh;
        color: rgba(0, 0, 0, 0.774);
        display: block;
        position: absolute;
        z-index: 1;
        float: right;
    }
    .logo {
        display: none;
    }
    .menu {
        width: 100%;
        text-align: center;
        padding: 5% 5% 111% 5%;
        display: none;
        position: relative;
        background-color: rgba(255, 255, 255, 0.774);
    }
    .menu a {
        display: grid;
        margin: 0;
        color: black;
    }
    .forsidemobil {
        display: block;
    }
    #toggle:checked+.menu {
        display: block;
    }
    .imglogotext {
        display: none;
    }
    .imgLogoTextMobil {
        display: block;
        width: 90vw;
        margin-left: 4vw;
        margin-top: 7vh;
        z-index: -1;
        position: absolute;
        top: 0;
    }
    div nav {
        background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    }
    .item1 {
        height: 27vh;
    }
    .item1 h1 {
        font-size: 5vh;
        padding: 10% 0 3% 5%;
        z-index: -1;
        position: absolute;
        top: 20vh;
    }
    h2 {
        font-size: 4vh;
        margin-top: 0;
    }
    p {
        font-size: 1.5vh;
    }
    .item2 {
        margin: 22% 5%;
        height: 75%;
    }
    .label,
    textarea,
    .email,
    .subject {
        margin: 0;
        font-size: 1.5vh;
        position: inherit;
        z-index: 0;
    }
    .item3 {
        margin: 0 5%;
        height: 100%;
    }
    .item4 {
        text-align: center;
        padding: 3%;
        font-size: 1.5vh;
        margin-top: 5%;
    }
    .item5 {
        padding: 3%;
        font-size: 1.5vh;
        margin: 0;
    }
    .item6 {
        text-align: center;
        font-size: 1.5vh;
        padding: 3%;
        margin: 0;
    }
}